phase2/tmp
phase2/CMSSW_13_1_0
reg/check
reg/dev
reg/prod
tnp
bpix
tree
tmp_reg
phase2/PlotHists/plots/
phase2/soham/


reg/CMSSW_12_6_3/
reg/CMSSW_13_1_0/
reg/phas2/
reg/runWorkflow_2023.py
reg/runWorkflow_Phase2.py
reg/sam/
reg/setWorkflow_2023.sh
reg/setWorkflow_Phase2.sh
reg/tmp/
reg/tmp_check/

alpaka/
eff/
exo_rate/
lowpt/
phase2/sumit/
sistrip_CMSHLT-3196/
timing/
winter24/
